.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1440px;;
    min-height: 109px;
    margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 49px 96px 51px;
  background-color: white;
}

.header-menu-list {
  display: flex;
  width: 388px;
  justify-content: space-between;
  align-items: center;
  list-style: circle;
}

.header-menu-list-item {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-menu-list-item-no-bullit {
    list-style: none;
}

.header-logo-image {
    width: 100%;
}

.header-logo {
    display: block;
    width: 148px;
}

.address {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px; 
}

.cover {
  display: block;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
}

.cover-title {
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
    padding: 165px 50px 237px 50px;
}

.accept-span {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


